
*{
    margin: 0;
    padding: 0;
}
section#home{
    height: 90vh;
    padding: 0 50px 0 50px;
    position: relative;
    overflow: hidden;
    
}

section#home header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
section#home header div h1{
    color:white;
    
}
section#home header nav ul{
    display: flex;
    gap: 10px;
    margin-top: 6.3px;
}
section#home header nav ul li{
    list-style: none;

}
section#home header nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

button{
    border-radius: 5px;
    height: 30px;
    padding-top: 1px;
    width: 80px;
    border: none;
    color: white;
    background: #3a3ea6;
    background: linear-gradient(180deg, #8A3ECF 0%, #7026C1 100%);
    text-transform: uppercase;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
body{
    font-family: 'Roboto', sans-serif;
    background: radial-gradient(circle, #2c134b, #1b0d31, #0d0221);
}
section#home #content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
section#home #content h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: 'AlanSans'
}
section#home #content div{
    flex: 1;
    padding: 20px;
}
section#home #content #myImgDiv{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 50px;
}
section#home #content div img{
    width: 400px;
    border-radius: 50%;
    height: 400px;

}
section#home #content #buttons{
    padding: 0;
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
section#home #prototype{
    background-color: #f7d24a; /* Un tono de amarillo similar al de la imagen */
    height: 70px; /* Ajusta el grosor del rectángulo */
    display: flex; /* Activa Flexbox para distribuir los elementos */
    justify-content: space-around; /* Distribuye el texto con espacio entre ellos */
    align-items: center; /* Centra el texto verticalmente */
    transform: rotate(2deg); /* Inclina el rectángulo ligeramente */
    position: absolute; /* Permite posicionarlo de manera específica */
    bottom: 10; /* Lo coloca en la parte inferior de la sección principal */
    width: 120%; /* Ocupa todo el ancho de la pantalla */
    /*Hola profe, en esta seccion si use gemini porque no se como darle el efecto a la linea amarilla que dice prototipo*/
    left: -10%;
    z-index: 2;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}
section#home #prototype span {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 1.7rem;
}
section#home #purplerectangle{
    /*En esta seccion ya la hice yo basandome en la otra */
    background-color: purple;
    height: 70px;
    position: absolute;
    bottom: 10;
    width: 120%;
    left: -10%;
    z-index: 1;
}
section#aboutME{
    height: 60vh;
    padding: 0px 50px 0 50px;
    position: relative;
    overflow: hidden;
    
}
section#aboutME #test{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

}
section#aboutME #test div{
    flex: 1;
}
section#aboutME #imgaboutme{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 50px;
}
section#aboutME #test #imgaboutme img{
    width: 400px;
    border-radius: 50%;
    height: 400px;
}
section#aboutME #test div h3{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
section#aboutME #test div h4{
    font-size: 1rem;
    margin-bottom: 10px;
}
section#aboutME #test div p{
    margin-bottom: 10px;
}
section#aboutME .subcontent2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section#aboutME .subcontent2 div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: gray;
    border-radius: 25px;
    padding: 5px;
    height: 30px;
    width: 50px;
    padding-left: 10px;
    padding-right: 10px;

}
section#aboutME #test div button{
    font-size: 0.7rem;
    width: 10rem;
    border-radius: 20px;
}
section#Services{
    height: 100vh;
    padding: 0 50px 0 50px;
    position: relative;
    overflow: hidden;
    color: white;
    padding-top: 50px;
}
section#Services .subsection3{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    width: 100%;
    margin: auto;

}
section#Services #header2{
    text-align: center;
    margin-bottom: 20px;
}
section#Services .subsection3 div{
    background: rgba(45, 45, 70, 0.25);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    text-align: justify;
    height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px 10px 10px 10px;
}
section#Services .subsection3 div p{
    text-align: justify;
}
section#Services .subsection3 div img{
    width: 100%;
    height: 500%;
    border-radius: 8px;
    margin-bottom: 15px;
}
section#Services .subsection3 div h4 {
    text-align: left;
    width: 100%;
    margin-bottom: 2px;
}
section#toolskill{
    height: 85vh;
    padding: 0 50px 0 50px;
    position: relative;
    overflow: hidden;
    color: white;
    padding-top: 50px;

}
section#toolskill #subsection4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    gap: 44px;
}
section#toolskill #subsection4 .sections{
    background-color: #2a2a3e;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 15px 20px;
    width: 80%;
}
section#toolskill #subsection4 .imgbackground{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #a259ff;
}
section#toolskill #subsection4 .imgbackground img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
    width: 40px;
    height: 40px;
}
section#toolskill #subsection4 .progress{
    background-color: white;
    width: 50%;
    height: 30px;
    border-radius: 11px;
}
section#toolskill #subsection4 .progress div {
    background-color: purple;
    height: auto;
    width: 80%;
    height: 100%;
    border-radius: 11px;
}
section#toolskill #subsection4 .text{
    width: 10%;
    padding-right: 200px;
}
section#toolskill #subsection4 .progress div p{
    width: 98%;
    text-align: right;
    height: auto;
    padding-top: 5px;
}
section#toolskill h3{
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}
section#Myportfolio{
    height: 140vh;
    padding: 0 50px 0 50px;
    color: white;
    padding-top: 20px;
}
section#Myportfolio #p_section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 25px;
}
section#Myportfolio #p_section button{
    background-color: transparent;
    border: 1px solid #4a4a68;
    background: none;
    font-size: 15px;
    height: 30px;
    width: 150px;
}
section#Myportfolio #p_section button:hover{
    background-color: #2c2c4c;
}
section#Myportfolio #subsection5{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    align-items: center;
    justify-items: center;
    gap: 20px;
    width: 100%;
}
section#Myportfolio #subsection5 div{
    text-align: justify;
    height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 300px;
}
section#Myportfolio #subsection5 div h4{
    width: 100%;
    text-align: left;
}
section#Myportfolio #subsection5 div img{
    width: 100%;
    height: 250px;
    border-radius: 8px;
    margin-bottom: 15px;
}
section#Myportfolio h4{
    width: 100%;
    text-align: center;
    margin-bottom: 2px;
}
section#Myportfolio h3{
    width: 100%;
    text-align: center;
}
section#testimonials{
    height: 60vh;
    padding: 0 50px 0 50px;
    color: white;
    
}
section#testimonials #subsection6{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 25px;
    width: 100%;
}
section#testimonials #subsection6 .t_photos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 350px;
    background-color: rgba(40, 10, 100, 0.4);
    border-radius: 15px;
}
section#testimonials #subsection6 .t_photos div{
    width: 350px;
    height: 350px;
}
section#testimonials #subsection6 .t_photos div img{
    max-width: 100%;
    width: 350px;
    height: 350px;
    border-radius: 15px;
}
section#testimonials #subsection6 .t_photos .s_img{
    width: 350px;
    height: 350px;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}
section#testimonials #subsection6 .t_photos .s_img img{
    width: 45px;
    height: 45px;
    border-radius: 0;
    padding-top: 60px;
}
section#testimonials #subsection6 .t_photos .s_img p{
    width: 98%;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 20px;
    text-align: left;
}
section#testimonials #subsection6 .t_photos .s_img h3{
    width: 98%;
    text-align: left;
    padding-bottom: 2px;
    font-size: 24px;
}
section#testimonials #subsection6 .t_photos .s_img h4{
    font-weight: normal;
}
section#testimonials h2{
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}
section#testimonials h3{
    width: 100%;
    text-align: center;
}
section#Pricing{
    height: 75vh;
    padding: 0 50px 0 50px;
    color: white;
}
section#Pricing #subsection7{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 80%;
    justify-items: center;
}
section#Pricing #subsection7 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    width: 55%;
    height: 100%;
    background-color: #201a35;
    border-radius: 20px;
    border: 1px solid #4a3f6d;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}
section#Pricing #subsection7 div h4{
    width: 100%;
    text-align: center;
    padding-bottom: 1px;
    font-size: 20px;
    margin-top: 10px;
}
section#Pricing #subsection7 div h3{
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    font-size: 30px;
    
}
section#Pricing #subsection7 div h5{
    width: 100%;
    text-align: left;
    font-size: 15px;
    margin-left: 10px;
}
section#Pricing #subsection7 div ul{
    width: 100%;
    text-align: left;
    padding-left: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: disc;
}
section#Pricing #subsection7 div ul li{
    padding-bottom: 10px;
    padding-top: 10px;
}
section#Pricing #subsection7 div button{
    /* --- Colores y Borde --- */
  background-color: #2a2144; /* Color de fondo morado oscuro */
  color: #ffffff; /* Color del texto blanco */
  border: 2px solid #5a4b81; /* Borde morado más claro */
  width: 100%;
  /* --- Forma y Espaciado --- */
  border-radius: 50px; /* Esto crea la forma de píldora */
  font-size: 16px; 
  font-weight: bold;
  text-align: center;
  cursor: pointer; 
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
}
section#Pricing h3{
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}
section#Pricing h4{
    width: 100%;
    text-align: center;
    font-size: 15px;
}
section#Contact{
    height: 100vh;
    padding: 0 50px 0 50px;
    color: white;
    position: relative;
    overflow: hidden;
}
section#Contact #subsection8{
    display: flex;
    align-items: center;
    width: 100%;
    height: 75%;
    gap: 80px;
}
section#Contact #subsection8 #info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 100%;
    width: 40%;
    margin-left: 20px;
    flex: 1;
}
section#Contact #info h3{
    font-size: 30px;
    width: 100%;
    text-align: left;
    margin-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}
section#Contact #info p{
    font-size: 20px;
    width: 100%;
    text-align: left;
    margin-left: 30px;
    padding-bottom: 10px;
}
section#Contact #info .c_info{
    display: flex;
    align-items: center;
    padding-top: 20px;
    width: 100%;
    margin-left: 140px;
    gap: 20px;
    padding-bottom: 20px;
}
section#Contact #info .c_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #a259ff;
}
section#Contact #subsection8 #u_contact{
    background-color: #1d182c;
    width: 100%;
    max-width: 700px;
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    flex: 1.2;
}
section#Contact #subsection8 #u_contact h2{
    font-size: 28px;
    margin-bottom: 30px;
    text-align: left;
}
section#Contact #subsection8 #u_contact input, textarea{
    width: 95%;
    background-color: #2a2144;
    border: none;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 16px;
    color: white;
    outline: none;
    transition: box-shadow 0.3 ease;
    margin-top: 10px;
}
section#Contact #subsection8 #u_contact button{
    width: 100%;
    background-color: #fca311;
    border: none;
    border-radius: 10px;
    color: #1d182c;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3 ease;
    height: 70px;
}
section#Contact #Map{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: -1;
}
section#Contact #Map iframe{
    width: 100%;
    height: 100%;
    border: 0;
    filter: grayscale(50%) opacity(0.8);
}
section#News{
    height: 100vh;
    padding: 0 50px 0 50px;
    color: white;
    position: relative;
    overflow: hidden;
    padding-top: 50px;
}
section#News #d_news{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 30px;
}
section#News #d_news .subsection9{
    background: rgba(45, 45, 70, 0.25);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    display: flex;
    width: 95%;
    height: 25%;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
}
section#News #d_news .subsection9 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;
}
section#News #d_news .subsection9 div h2{
    font-size: 100px;
    text-align: unset;
}
section#News #d_news .subsection9 div h3{
    font-size: 15px;
    font-weight: lighter;
}
section#News #d_news .subsection9 div h4{
    font-size: 30px;
}
section#News #d_news .subsection9 .i_news{
    justify-content: right;
    align-items: unset;
}
section#News #d_news .subsection9 .i_news h4{
    font-size: 25px;
}
section#News #d_news .subsection9 .i_news p{
    font-size: 20px;
}
section#News h2{
    width: 100%;
    text-align: center;
}
section#footer{
    height: 30vh;
    padding: 0 50px 0 50px;
    color: white;
    position: relative;
    overflow: hidden;
    padding-top: 50px;
    background-color: #0d0221;
}
section#footer #subsection10{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
}

section#footer #subsection10 #me_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

}
section#footer #subsection10 #me_footer #me_section{
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 20px;
    justify-content: unset;
}
section#footer #subsection10 #me_footer #me_section img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    flex-shrink: 0;
}
section#footer #subsection10 #me_footer #me_section h2{
    font-size: 1.5rem;
    margin: 0;
}
section#footer #subsection10 #me_footer h3{
    font-size: 1.8rem;
    margin-bottom: 15px;
}
section#footer #subsection10 #me_footer p{
    font-size: 1rem;
}
section#footer #subsection10 div h3{
    font-size: 1.2rem;
    margin-bottom: 25px;
}
section#footer #subsection10 div ul{
    list-style: none;
}
section#footer #subsection10 div ul li{
    cursor: pointer;
    color: #cccccc;
    margin-bottom: 15px;
}



