body{
    margin: 0;
    padding: 0;
}
#background{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
}
#background #character{
    border: solid;
    border-color: white;
    position: absolute;
    width: 250px;
    height: 250px;
    top: 105px;
    left: 150px;

    background-image: url('../img/dk.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation-name: Jumps;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
#background .barrel{
    border: solid;
    border-color: white;
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    animation-name: rotateBarrel;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
@keyframes rotateBarrel{
    0%, 79%{
        transform: rotate(0deg);
    }
    96%, 100%{
        transform: rotate(360deg);
    }
}
@keyframes Jumps{
    0%{
        top:-200px
    }
    20%{
        top: 90px;
        left: 105px;
    }
    40%{
        bottom: 300px;
        left: 350px;
    }
    60%{
        top: 330px;
        left: 870px;
    }
    79%{
        opacity: 100%;
    }
    95%{
        top: 500px;
        left: 100px;
        opacity: 1;
        transform: rotate(360deg);
        
    }
    100%{
        top: -300px;
        opacity: 0.5;
    }
}
#background .barrel img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
#background #barrel1 img{

}
#background #barrel1{
    bottom: 60px;
    left: 150px;
}
#background #barrel2{
    bottom: 60px;
    right: 150px;
}