* {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --bg: #800020;
    --radius: 8px;
    --bg2: #99334D;
}

section {
    height: 100vh;
    overflow: hidden;
}

header {
    color: white;
    font-family: 'Inter', sans-serif;
}

header>div {
    background-color: var(--bg);
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: space-between;
}

header>div>#zaLogo {
    width: 10%;
    align-items: center;
    justify-items: center;
}

header>div>#zaLogo>img {
    display: block;
    height: 65%;
    width: 65%;
}

header>div>#schlName {
    width: 70%;
    justify-content: right;
}

header>div>#schlName>h1 {
    font-size: 2rem;
}

header>div>#logos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    gap: 0.5rem;
}

header>div>#logos>button {
    background-color: var(--bg);
    font-size: 3rem;

}

section>#mnBody {
    background-color: white;
    height: 90%;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
    padding: 1rem 1rem 1rem 1rem;
    gap: 10px;
    align-items: flex-start;
    
}
/*section>#mnBody> a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}*/
section>#mnBody>#btnBack {
    padding: 0.5rem 1.5rem;
    background-color: var(--bg2);
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    cursor: pointer; 
    transition: all 0.2s ease; 
}

section>#mnBody>#btnBack:hover {
    background-color: var(--bg);
    transform: scale(1.05);
}

section>#mnBody table {

    border-collapse: collapse;
    table-layout: fixed;
}

section>#mnBody table td {
    border: 5px solid black;
    text-align: center;
    height: 2.5rem;
    overflow-wrap: break-word;
    padding: 10px;
}

section>#mnBody table th {
    border: 5px solid black;
    text-align: center;
    height: 2.5rem;
    overflow-wrap: break-word;
    padding: 10px;
    text-align: left;
}
@media (max-width: 599px){
    header > div {
        text-align: center;
        height: auto;
    }
     header > div > #zaLogo {
        width: 60%;
        display: flex;
        justify-content: center;
    }

    header > div > #zaLogo > img {
        width: 60%;
    }

    header > div > #schlName {
        width: 60%;
        text-align: left;
    }
    header>div>#schlName>h1 {
        font-size: 1.7rem;
    }
    header>div>#schlName>h2{
        font-size: 1rem;
        display: none;
    }

    header>div>#logos {
        width: 60%;
        justify-content: center;
       
    }
    header>div>#logos > button {
        font-size: 3rem;
    }
}