*{
    margin: 0;
    padding: 0;
    border: 0;
}
:root{
    --bg: #800020;
    --radius: 8px;
    --bg2: #99334D;
}
section{
    height: 100vh;
}
header{
    color: white;
     font-family: 'Inter', sans-serif;
}
header > div{
    background-color: var(--bg);
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: space-between;
}
header > div > #zaLogo{
    width: 10%;
    align-items: center;
    justify-items: center;
}
header > div > #zaLogo > img{
    display: block;
    height: 65%;
    width: 65%;
}
header > div > #schlName{
    width: 70%;
    justify-content: right;
}
header > div > #schlName > h1{
    font-size: 2rem;
}
header > div > #logos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    gap: 0.5rem;
}
header > div > #logos > button{
    background-color: var(--bg);
    font-size: 3rem;

}
section > #mnBody{
    background-color: white;
    height: 90%;
    display: flex;
    width: 100%;
    
}
section > #mnBody > #selectSection{
    width: 10%;
    background-color: var(--bg2);
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    overflow: visible;
}
section > #mnBody > #selectSection > a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
section > #mnBody > #selectSection > a > button{
    background-color: var(--bg2);
    font-size: 5rem;
    height: 100%;
    width: 100%;

}
section > #mnBody > #selectSection >a > button:hover{
    background-color: var(--bg);
}
section > #mnBody > #table{
    width: 90%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    padding: 1rem 1rem 1rem 1rem;
    align-items: center;
    justify-content: center;
}

section > #mnBody > #table  table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
section > #mnBody > #table  table  td{
    border: 5px solid black;
    text-align: center;
    height: 2.5rem;
    overflow-wrap: break-word;
    padding: 10px;
}
section > #mnBody > #table table th{
    border: 5px solid black;
    text-align: center;
    height: 2.5rem;
    overflow-wrap: break-word;
    padding: 10px;
    text-align: left;
}
section > #mnBody > #table > #schlInputs{
    width: 100%;
    height: 100%;
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

section >#mnBody > #table> #schlInputs > form{
    width: 100%;
    height: 100%;
}
section > #mnBody > #table > #schlInputs > form > fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 2rem;
}
section > #mnBody > #table> #schlInputs > form > fieldset > input{
    background-color: var(--bg2);
    outline: none;
    border-bottom: 10px;
    border-radius: 10px;
    width: 60rem;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

section > #mnBody > #table > #schlInputs > form > fieldset > #schlSend{
    width: 7rem;
    background-color: var(--bg2);
    height: 3rem;
    color: white;
    font-size: 2rem;
    font-weight: 700;
}
section > #mnBody > #table> #schlInputs > form > fieldset > #schlSend:hover {
    background-color: var(--bg); /* cambia el color al pasar el mouse */
    transform: scale(1.05);       /* agranda ligeramente */ 
    /*Esto lo saque con gemini*/
}

/*Students Page*/
section > #mnBody > #inputs{
    width: 90%;
    height: 100%;
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}
section>#mnBody>#inputs #btnBack{
    padding: 0.5rem 1.5rem;
    background-color: var(--bg2);
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    cursor: pointer; 
    transition: all 0.2s ease; 
    display: none;
}
section >#mnBody > #inputs > form{
    width: 100%;
    height: 100%;
}
section > #mnBody > #inputs > form > fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 2rem;
}
section > #mnBody > #inputs > form > fieldset > input{
    background-color: var(--bg2);
    outline: none;
    border-bottom: 10px;
    border-radius: 10px;
    width: 60rem;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}
section > #mnBody > #inputs > form > fieldset > #cicle{
    width: 30rem;
}
section > #mnBody > #inputs > form > fieldset > #send{
    width: 7rem;
    background-color: var(--bg2);
    height: 3rem;
    color: white;
    font-size: 2rem;
    font-weight: 700;
}
section > #mnBody > #inputs > form > fieldset > #send:hover {
    background-color: var(--bg); /* cambia el color al pasar el mouse */
    transform: scale(1.05);       /* agranda ligeramente */ 
    /*Esto lo saque con gemini*/
}


